* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.App {
  width: 90%;
  position: relative;
  margin: 0 auto;
}

:root {
  --blue: #00aabc;
  --seal: #dff6f0;
  --white: #FFFFFF;
  --black: #000000;
  --darkBlue: #347279;
  --mainFont: "Tajawal", sans-serif;
  --secondFont: "Cairo", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--secondFont);
}

a {
  text-decoration: none;
  color: var(--white);
}

ul li {
  list-style: none;
}

body {
  background-color: var(--color5);
  overflow-x: hidden;
}

*,
html,
body,
main {
  direction: rtl;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: var(--secondFont);
}

input {
  outline: none;
  border: 1px solid #DDD;
  padding: 8px;
  padding-right: 12px;
  border-radius: 2px;
}

svg {
  cursor: pointer;
}