.rec.rec-arrow {
    border-radius: 50%;
    font-size: 13px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    line-height: 30px;
    position: absolute;
    z-index: 10000;
    background-color: rgb(104, 103, 103);
    color: var(--white);
}

.rec.rec-arrow:nth-of-type(1) {
    left: 10%;
    bottom: 10%;
}

.rec.rec-arrow:nth-of-type(2) {
    left: 3%;
    bottom: 10%;
}

.ictPXa {
    background-color: var(--blue);
    box-shadow: unset;
}

.ictPXa:hover,
.ictPXa:focus,
.ictPXa:active {
    background-color: var(--blue);
    box-shadow: unset;
}


.kAqtYR,
.ictPXa {
    transform: translateY(-5px);
}

/* round buttons on hover */
.rec.rec-arrow:hover,
.rec.rec-arrow:focus,
.rec.rec-arrow:active {
    border-radius: 50%;
    background-color: var(--blue);
}


@media only screen and (max-width: 750px) {
    .rec.rec-arrow:nth-of-type(1) {
        left: 70px;
        bottom: 50px;
    }

    .rec.rec-arrow:nth-of-type(2) {
        left: 30px;
        bottom: 50px;
    }
}